* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f1efe9;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.flex {
	display: flex;
}

.block {
	display: block;
}

/*navbar starts here*/

nav {
	height: 100px;
	width: 100%;
	position: fixed;
	background-color: #f1efe9;
	box-shadow: 0px 0px 15px 0px #f1efe9;
	z-index: 99;
	top: 0;
}

.logo {
	margin-top: 30px;
	margin-left: 20px;
}

.mid_img {
	margin-left: 380px;
	margin-top: -10px;
}

.mid_img img {
	width: 160px;
}

.click {
	margin-top: 30px;
	margin-left: 320px;
}

.click img {
	margin-left: 30px;
}

.click .menu {
	height: 25px;
}

nav .click .search {
	height: 20px;
	margin-top: 1px;
	margin-right: 10px;
}

.click button {
	margin-right: 30px;
	margin-left: 15px;
	border: none;
	width: 80px;
	background-color: #d4c6e6;
	height: 30px;
	width: 70px;
}

.click button p {
	margin-left: -40px;
	margin-bottom: 10px;
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 2px;
	height: 15px;
}

.click button:hover {
	cursor: pointer;
}

/* .click p {
	margin-top: 5px;
	margin-left: -100px;
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 2px;
	height: 15px;
} */

/*navbar ends here*/

/*section1 starts here*/

.main {
	position: relative;
	z-index: 0;
}

.section1 {
	margin-top: 130px;
	margin-left: 100px;
	margin-right: 20px;
}

.section1 h1 {
	font-size: 12px;
	margin-bottom: 20px;
	letter-spacing: 5px;
	position: relative;
}

.hidden {
	position: absolute;
	z-index: 1;
	margin-left: 600px;
}

.hiddenpapers {
	margin-left: 165px;
}

.hiddenpapers img {
	margin-top: 10px;
	height: 120px;
	width: 200px;
	box-shadow: none;
}

.hiddenpapers h1 {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 1px;
	margin-left: 20px;
}

.hiddenpapers p {
	margin-left: 20px;
	font-size: 14px;
}

.hiddenpapers .text1 {
	margin-top: -20px;
}

.one_year {
	background-color: #e2ded1;
	width: 1000px;
	height: 350px;
	margin-left: -450px;
	margin-top: 40px;
}

.one_year .content {
	margin-left: 550px;
}

.one_yeartxt {
	width: 300px;
	margin-left: 80px;
	margin-bottom: 30px;
	padding-top: 25px;
}

.one_yeartxt p {
	font-size: 14px;
	text-align: left;
	font-style: italic;
	line-height: 20px;
	letter-spacing: 2px;
}

.img_section {
	margin-left: 80px;
}

.img_section img {
	height: 50px;
	width: 50x;
	margin-left: -5px;
}

.trophy {
	margin-top: 30px;
	margin-left: -500px;
	justify-content: space-evenly;
}

.figure1 {
	margin: 20px 20px 20px 20px;
}

.figure1 h2 {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
}

.figure1 p {
	font-weight: 700;
}

.figure1 p span {
	font-size: 12px;
	color: #8d8c8c;
	letter-spacing: 2px;
}

.trophy .figure1 img {
	height: 25px;
	width: 25px;
	margin-left: 30px;
}

.trophy .fig4 h1 {
	font-weight: 800;
	font-size: 25px;
	margin-top: -7px;
	margin-left: 30px;
}

.trophy .fig4 h2 {
	margin-top: -19px;
}

.hidden2 {
	position: absolute;
	z-index: 2;
}

.hidden2 img {
	height: 450px;
	width: 740px;
	background-size: cover;
	box-shadow: 0px 0px 15px 0px gray;
}

.hidden2 img:hover {
	cursor: pointer;
}

/*section1 ends here*/

/*section2 starts here*/

.section2 {
	position: relative;
	z-index: 3;
	margin-top: 750px;
}

.nominee {
	margin-left: 20px;
}

.nominee p {
	font-size: 15px;
	font-weight: 800;
	letter-spacing: 8px;
	margin-top: 5px;
}

.nominee .btn_text {
	margin-top: 5px;
	margin-left: -155px;
	height: 1px;
}

.nominee button {
	margin-left: 90px;
	background-color: #d4c6e6;
	border: none;
	height: 30px;
	width: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nominee:hover {
	cursor: pointer;
}

.nominee img {
	margin-top: 1px;
	margin-left: 3px;
	width: 25px;
}

.images {
	margin-top: 100px;
	margin-left: 105px;
}

.figure2 {
	position: relative;
	margin-right: 55px;
}

.figure2 img {
	height: 220px;
	width: 340px;
}

.figure2 h1 {
	font-size: 13px;
	font-weight: 800;
	margin-top: 10px;
	letter-spacing: 3px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 220px;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: rgba(37, 37, 37, 0.815);
}

.vote {
	margin-top: -20px;
	margin-left: -15px;
}

.overlay:hover {
	opacity: 1;
}

.top {
	margin-left: 20px;
	margin-top: 25px;
	font-size: 12px;
	font-weight: 600;
	color: #eaeaeab6;
}

.bottom {
	width: 55px;
	margin-top: 80px;
	margin-left: 140px;
	letter-spacing: 3px;
	font-size: 20px;
	font-weight: 700;
	color: #eaeaeab6;
}

.overlay img {
	width: 30px;
	height: 25px;
	margin-top: 83px;
	margin-left: 10px;
	color: #eaeaeab6;
}

.trophies img {
	height: 15px;
	width: 15px;
}

.rating {
	margin-top: 5px;
	margin-right: 15px;
}

.rating p {
	font-size: 12px;
	margin-left: 5px;
	font-weight: 500;
}

.jpan {
	margin-top: 3px;
	font-size: 12px;
	padding-top: 1px;
}

/*section2 ends here*/

/*section3 starts here*/

.section3 {
	position: relative;
	z-index: 4;
	margin-top: 100px;
}

.previous {
	margin-left: 20px;
}

.previous p {
	font-size: 15px;
	font-weight: 800;
	letter-spacing: 8px;
	margin-top: 5px;
}

.previous .btn_text {
	margin-top: 5px;
	margin-left: -110px;
	height: 1px;
}

.previous button {
	margin-left: 35px;
	background-color: #d4c6e6;
	border: none;
	height: 30px;
	width: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.previous:hover {
	cursor: pointer;
}

.previous img {
	margin-top: 1px;
	margin-left: 5px;
	width: 25px;
}

/*section2 ends here*/

/*row_two start here*/

.row_two {
	position: relative;
	z-index: 4;
	margin-top: 100px;
}

/*row_two ends here*/

/*more starts here*/

.more {
	margin-top: 50px;
	margin-left: 600px;
	margin-bottom: 50px;
}
.more img {
	margin-top: 6px;
	margin-left: 25px;
	height: 20px;
	width: 30px;
}

.more button {
	margin-left: 95px;
	background-color: #d4c6e6;
	border: none;
	height: 30px;
	width: 85px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.more_btn_text {
	margin-top: 5px;
	margin-left: -105px;
	font-weight: 800;
	letter-spacing: 3px;
}

/*more ends here*/

/*blog starts here*/

.blog img {
	width: 800px;
	margin-left: 300px;
}

/*blog ends here*/

/*footer starts here*/

.foot {
	margin-top: 100px;
	column-gap: 250px;
	margin-left: 50px;
	margin-bottom: 50px;
}

.foot p {
	font-size: 15px;
	font-weight: 700;
}

.foot .icons{
	column-gap: 30px;
	text-align: center;
}

/*footer ends here*/
